.navbar {
  display: flex;
  background-color: #222831;
  justify-content: space-between;
}
h1 {
  color: white;
  font-family: sans-serif;
}
.info > h1 {
  color: black;
}
.header_right {
  padding-left: 30px;
}
.header_left {
  position: relative;
  padding-top: 30px;
  padding-right: 200px;
}

.link {
  margin: 10px;
  color: white;
  font-size: 1.2rem;
}
.link:hover {
  color: white;
}
