table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.restock {
  text-align: center;
  width: 80%;
  padding-left: 200px;
  padding-top: 50px;
}
body {
  text-align: center;
}
.restock > h1 {
  color: black;
}
